@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオンメニュー */
.accordion{
    width: 100%;
}


/* くの字矢印*/
.arrow{
    position: relative;
    display: inline-block;
    padding: 10px;
}

.arrow::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    left: 10px;
    top: 8px;
    transform: rotate(135deg);
}

/* 上向きくの字 */
/* .arrow.arrow-top::before {
    transform: rotate(-45deg);
    top: 10px;
} */

/* アコーディンメニュー */
/* .accordion-content{
    display: none;
} */
